---
layout: default
---
.posts.pure-g-r
  // Intro 
  section.post.pure-u-1
    header.post-header
      h1.pure-u-1 Hi, I'm  Troy
    .post-description.pure-u-1
      :markdown
        I'm a developer. 
        I like [F#](http://www.tryfsharp.org/ "Try F#"), [C#](https://en.wikipedia.org/wiki/C_Sharp_(programming_language "C# on Wikipedia"), [Node.js](http://nodejs.org/ "Node.js") and [Xamarin](http://xamarin.com/ "Xamarin"). 
        I work for [SMS M&T](http://smsmt.com "SMS Management & Technology").
        I shave with a [straight (cut-throat) razor](http://en.wikipedia.org/wiki/Straight_razor "Straight Razor on Wikipedia").
        I ride mountain bikes and road bikes. 
        I also ride a [Yamaha R6](http://en.wikipedia.org/wiki/Yamaha_R6 "Yamaha YZF-R6 on Wikipedia").
        I'm a slow runner, but I dream of being fast. I play the bass and am learning the piano.
        I live in Australia (Canberra/Sydney/Brisbane).
        I watch [Futurama](http://en.wikipedia.org/wiki/Futurama "Futurama on Wikipedia") a lot.

        I also blog.

.posts.pure-g
  h1.pure-u-1.content-subhead Recent Posts
  each post in getCollection("posts").toJSON()
    section.post.pure-u-1
      header.post-header
        h2.post-title.pure-u-1
          a(href='#{post.url}')= post.title
        p.post-meta.pure-u-1
          | Posted #{post.date.toDateString()} under 
          each tag in post.tags
            - var tagClass = tag.replace(' ', '-').toLowerCase()
            span.post-tag(class="post-tag-#{tagClass}")= tag
      .post-description.pure-u-1
        p= post.description
      a(href='#{post.url}').pure-button.pure-button-primary Read