---
layout: default
---
.posts.pure-g-r
  // Intro 
  section.post.pure-u-1
    header.post-header
      h1.pure-u-1 Hi, I'm  Troy
    .post-description.pure-u-1
      :markdown
        I'm a developer at [Jet](http://jet.com) and a big fan of [F#](http://www.tryfsharp.org/ "Try F#").
        Originally from Australia, I now live in New Jersey with my gorgeous wife and 6 and 1 year old daughters.
        I hope you enjoy the blog!

.posts.pure-g
  h1.pure-u-1.content-subhead Recent Posts
  each post in getCollection("posts").toJSON()
    section.post.pure-u-1
      header.post-header
        h2.post-title.pure-u-1
          a(href='#{post.url}')= post.title
        p.post-meta.pure-u-1
          | Posted #{post.date.toDateString()} under 
          each tag in post.tags
            - var tagClass = tag.replace(' ', '-').toLowerCase()
            span.post-tag(class="post-tag-#{tagClass}")= tag
      .post-description.pure-u-1
        p= post.description 
          | 
          a(href='#{post.url}') Keep reading...