!!!
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= getPreparedTitle()
    meta(name='description', content='#{getPreparedDescription()}')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:domain', content='#{site.url}')
    meta(name='twitter:site', content='@#{site.twitter}')
    meta(name='twitter:creator', content='@#{site.twitter}')
    meta(name='twitter:title', content='#{document.title}')
    meta(name='twitter:description', content='#{getPreparedDescription()}')

    link(rel='alternate', type='application/atom+xml', title='Latest blog posts | troykershaw.com', href='/atom.xml')  
    != getBlock("meta").toHTML()
    != getBlock('styles').add(['/styles/all.min.css']).toHTML()

  body
    #layout.pure-g-r
      .sidebar.pure-u
        header.header.pure-u-1
          #social-menu.pure-menu.pure-menu-open.pure-menu-horizontal
            ul
              each item in site.social
                li
                  a(href='#{item.url}', title='#{item.name}')
                    i.icon-2x(class='#{item.icon}')
          
          h1.brand-title
            a(href='/')= site.title
          h2.brand-tagline= site.tagline
          nav.nav
            .pure-menu.pure-menu-open
              ul
                each item in site.nav
                  li
                    a.pure-button.nav-button(href='#{item.url}', title='#{item.name}')
                      i(class='#{item.icon}')
                      | #{item.name}
      
      .content.pure-u-1
        != content
        footer.footer
          p &copy; 2013 #{site.title}
    != getBlock('scripts').toHTML()